body{
    /*background-color: rgb(63, 72, 84);*/
    background-color: white;
    color: #195181;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    /*font-family: cursive;*/
}

#hotelSandroPhoto{
    width: 600px;
    max-width: 100%;
    aspect-ratio: 4/3;
}

#formular{
    background-color: #195181;
    /*border-radius: 10px;*/
    border-color: rgb(255, 255, 255);
    border-style: double;
}

table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#registration-form{
    background-color: #195181;
}
