body{
    background-color: rgb(63, 72, 84);
    color: burlywood;
    padding-top: 70px;
    text-align: center;
}

#hotelSandroPhoto{
    width: 600px;
    height: 450px;
}

#formular{
    background-color: #195181;
    border-radius: 20px;
    border-color: burlywood;
    border-style: double;
}